extends ../base.pug

block variables 
	- var template = 'home'

block content 
	.home(data-background="#c97164" data-color="#faf8f5")
		.home__wrapper
			.home__titles
				each collection, index in collections
					.home__titles__label=`${home.data.collection} ${Numbers(index)}`
					.home__titles__title=collection.data.title
			.home__gallery
				each media in home.data.gallery
					figure.home__gallery__media
						img.home__gallery__media__img(alt=media.image.alt data-src=media.image.url)
			a.home__link(href=Link(home.data.collections))=home.data.button
				svg.home__link__icon(viewBox="0 0 288 60" xmlns="http://www.w3.org/2000/svg")
					path(d="M144 59.5C223.253 59.5 287.5 46.2924 287.5 30C287.5 13.7076 223.253 0.5 144 0.5C64.7471 0.5 0.5 13.7076 0.5 30C0.5 46.2924 64.7471 59.5 144 59.5Z" fill="none" stroke="currentColor")